{% load static %}

<div class="answer">
  <div class="row">
    <div class="col-3">
      <div class="answer-avatar">
        <img src="{{ answer.profile.avatar.url }}" alt="avatar">
      </div>
      <div class="row like">
        <p class="answer-like-btn" data-count="{{ answer.rating }}" data-id="{{ answer.id }}">
          <input type="button" class="btn btn-outline-success" value="Like">
        </p>
      </div>
    </div>
    <div class="col-8">
      <div class="question-text">{{ answer.text }}</div>
      {% if question.profile == request.user %}
        <div class="row">
          <div class="form-check mb-5">
            <p class="correct-btn" data-status="{{answer.status}}" data-id="{{ answer.id }}">
              <input type="button" class="btn btn-outline-success" value="Mark as correct">
            </p>
          </div>
        </div>
      {% else %}
        <div class="row">
          <div class="form-check mb-5">
            <p class="correct-btn">
              {{answer.status}}
            </p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
