{% load static %}

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-0 mb-2 mb-md-0">
          <li class="nav-item">
            <a class="navbar-brand" aria-current="page" href="{% url "index" %}">ASKME</a>
          </li>
        </ul>
        <form class="d-flex s" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="ask ms-auto me-4">
          <a href="{% url "ask" %}"><button class="btn btn-success" type="submit">ASK!</button></a>
        </div>
        <div class="profile">
          <div>
            <a class="navbar-brand" href="{% url "settings" %}"><img src="{{ request.user.avatar.url }}" alt="" class="d-inline-block"></a>
            <a class="nickname me-3" href="{% url "settings" %}">John Wick</a>
            <a href="{% url "settings" %}">Settings</a>
            <a href="{% url "logout" %}">Log out</a>
          </div>

        </div>
      </div>
    </div>
  </nav>
</header>
