{% load static %}

<div class="question">
  <div class="row">
    <div class="col-3">
      <div class="question-avatar">
          <img src="{{ question.profile.avatar.url }}" alt="avatar">
      </div>
      <p class="like-btn" data-count="{{question.rating}}" data-id="{{ question.id }}">
        <input type="button" class="btn btn-outline-success" value="Like">
      </p>
    </div>
    <div class="col-6">
      <h2><a href="{% url "question" question.id %}">{{ question.title }}</a></h2>
      <div class="question-text">{{ question.text }}</div>
      <div class="row">
        <div class="col-4"><a href="{% url "question" question.id %}">Answers ({{num_answers}})</a></div>
        <div class="col-8">
          Tags: {% include "inc/tag_item.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
